.fa.fa-instagram{
      display:inline;
      transition:-webkit-all .5s;
      transition:all .5s;
      color: #000;
      background:radial-gradient(circle at 30% 107%,#fdf497 0,#fdf497 5%,#fd5949 45%,#d6249f 60%,#285aeb 90%);
      background:-webkit-radial-gradient(circle at 30% 107%,#fdf497 0,#fdf497 5%,#fd5949 45%,#d6249f 60%,#285aeb 90%);
      background-clip:text;
      -webkit-background-clip:text
  }
  .fa.fa-facebook-square{
      transition:-webkit-all .5s;
      transition:all .5s;
      display:inline;
      color: #000;
  }
  .fa.fa-instagram:hover{
      display:inline;
      cursor:pointer;
      -webkit-transform:translate(0,-10px);
      transform:translate(0,-10px);
      color:transparent;
      background:radial-gradient(circle at 30% 107%,#fdf497 0,#fdf497 5%,#fd5949 45%,#d6249f 60%,#285aeb 90%);
      background:-webkit-radial-gradient(circle at 30% 107%,#fdf497 0,#fdf497 5%,#fd5949 45%,#d6249f 60%,#285aeb 90%);
      background-clip:text;
      -webkit-background-clip:text
  }
  .fa.fa-facebook-square:hover{
      cursor:pointer;
      -webkit-transform:translate(0,-10px);
      transform:translate(0,-10px);
      display:inline;
      color:#3b5998
  }
  #rounder{
      border-radius:2.5vh;
      border:1px solid #000;
      padding:1px;
      width:5vh;
      height:4vh
  }
  img{
      display:block;
      margin-left:auto;
      margin-right:auto;
      width:100%
  }
  table{
      border-collapse:collapse;
      color:#fff
  }
  th{
      background:#000;
      color:#cd3333;
      font-weight:700
  }
  td,th{
      border:1px solid #000;
      padding:6px
  }
  tr:nth-child(even){
      background:rgba(228,228,228,.2);
      transition:all .5s
  }
  tr:nth-child(odd){
      background:rgba(228,228,228,.1);
      transition:all .5s
  }
  tr:hover{
      background:#fff;
      color:#cd3333;
      transition:all .5s
  }
  .logo{
      position:absolute;
      top:0
  }
@media 
only screen and (max-width: 543px),
 (max-device-width: 543px)  {
.mob-fa{
float:left !important;
}
}
  
